<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		.s-content {
			padding-left: 200px;
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="s-content content">
		<main class="row content__page">
                
                <section class="column large-full entry format-standard">
                    <div class="content__page-header">
                        <h1 class="display-1">
                        	글쓰기
                        </h1>
                    </div>   
                    <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                        <fieldset>
                            <div class="form-field">
                                <input name="cName" id="cName" class="full-width" placeholder="제목" value="" type="text">
                            </div>
                            <div class="message form-field">
                                <textarea name="cMessage" id="cMessage" class="full-width" placeholder="내용"></textarea>
                            </div>
    						<div style="font-family: 'IBM Plex Sans', sans-serif;" class="form-field file-form" >
														
							</div>
							<div class="btn-group btn-group-sm form-group" role="group" aria-label="Small button group">
								  <button type="button" class="btn btn-outline-primary" style="margin-right: 0; " onclick="plusCount()">+</button>
								  <button type="button" class="btn btn-outline-primary" style="margin-left: 0;" onclick="minusCount()">-</button>
							</div>
                            <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="글쓰기" type="submit">
                        </fieldset>
                    </form> <!-- end form -->
                </section>
            </main>
	</div>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		var count = 1;

		$(document).ready(function () {
			addFileForm();
		});
		
		
		function plusCount() {
 			if(count >= 5) {
				count = 5;
				++count;
				alert("5개 이상 추가하실 수 없습니다.");
				return;
			} 
 			++count;
			addFileForm()
			
			console.log(count);
		}
		
		function minusCount() {
			if(count <= 1 ) {
				count = 1	;
				return;
			} else if (count == 6) {
				count = 5;
			}
			$(`.num${count}`).remove();
			--count;
			console.log(count);
		}
		
		function addFileForm() {
				$(".file-form").append(`<div class="col-md-12 num${count}" > <label for="formFile" class="form-field num${count}" >이미지 ${count}</label><input class="form-field num${count}" type="file" id="itemImgFile" name="itemImgFile"></div>`);
		}
	</script>
</th:block>

</html>