<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
  <style>
    .media-wrap {
      display: flex;
      justify-content: center;
    }

    swiper-container {
      text-align: center;
    }

    .swiper-slide img {
      display: inline-block;
    }
  </style>
</th:block>

<div layout:fragment="content">
  <div class="s-content content" >
    <main class="row content__page">
      <section class="column large-full entry format-standard">
        <div class="media-wrap" style="padding-right: 350px">
          <swiper-container class="mySwiper" pagination="true">
            <swiper-slide th:each="myImage, status:${myImages}">
              <img th:src="${myImage.imageUrl}" th:alt="${myImage.oriImageName}"/>
            </swiper-slide>
          </swiper-container>
        </div>
  </div>

  <div class="content__page-header" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="display-1" style="margin: 0 auto;" th:text="${member.nickname}">닉네임</h1>
    <img th:if="${member.profileImgUrl} != null" th:src="${member.profileImgUrl}" class="img-thumbnail" th:alt="${member.nickname}">
    <img th:if="${member.profileImgUrl} == null" src="/images/profile/행복꿀벌.png" class="img-thumbnail" alt="행복꿀벌">

    <button type="button" class="btn btn-secondary" th:if="${nowMember} != null and ${#strings.equals(nowMember.email,member.email)}"
            onclick="location.href='myProfileModify' ">수정하기</button>

    </hr>
  </div>
  <div style="display: flex">
    <p class="entry__tags">
      <span class="entry__tag-list">
        <a th:if="${#strings.equals(memberInterests.develop, 'true')}" th:text="${'개발'}"></a>&nbsp;
        <a th:if="${#strings.equals(memberInterests.travel, 'true')}" th:text="${'여행'}"></a>&nbsp;
        <a th:if="${#strings.equals(memberInterests.life, 'true')}" th:text="${'일상'}"></a>&nbsp;
        <a th:if="${#strings.equals(memberInterests.food, 'true')}" th:text="${'음식'}"></a>&nbsp;
        <a th:if="${#strings.equals(memberInterests.animal, 'true')}" th:text="${'동물'}"></a>
      </span>
    </p>
    <!-- end content__page-header -->
  </div>
  <p style="text-align: center;" th:if="${member.memberContent} != null" th:text="${member.memberContent}">소개글</p>
  <p style="text-align: center;" th:if="${member.memberContent} == null" >아직 소개글을 작성하지 않은 사용자입니다.</p>
  <hr>
  </section>
  <div class="masonry-wrap">
    <div class="masonry">
      <div class="grid-sizer"></div>

      <article class="masonry__brick entry format-standard animate-this" th:each="post, status: ${posts}">

        <div class="entry__thumb">
          <swiper-container class="mySwiper" pagination="true" style="background: white">
            <th:block th:each="imgs, status : ${post.postImgDtoList}">
              <swiper-slide>
                <img th:src="${imgs.imageUrl}" th:alt="${imgs.imageName}">
              </swiper-slide>
            </th:block>
          </swiper-container>
        </div>
        <div class="entry__text">
          <div class="entry__header">
            <h2 class="entry__title">
              <a th:href="'/post/article/'+${post.postNo}" th:text="${post.subject}">글제목</a>
            </h2>
            <div class="entry__meta">
							<span class="entry__meta-cat"> <a href="#" th:text="${#temporals.format(post.regDate, 'yyyy-MM-ss HH:mm:ss')}">작성일</a>
							</span>
            </div>
          </div>
          <div class="entry__excerpt">
            <p th:text="${#strings.length(post.content) &lt; 100 ? post.content : #strings.substring(post.content, 0, 100) + '...'}"></p>
          </div>
        </div>
      </article>
      <!-- end article -->
    </div>
    <!-- end masonry -->
  </div>
  </main>
</div>
<!-- end s-content -->
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">

  </script>
</th:block>

</html>